/* Vars
-------------------------------------------------- */
content_width = 580px
/* Comments
-------------------------------------------------- */
.comments
  background #f9f9f9
  padding-top 50px
  padding-bottom 50px

  .inner-container
    position relative
    margin auto
    max-width content_width